.pre
{
    font-family: Verdana, Tahoma;
    color: #00CCFF;
    style:"text-align: center;
    margin: 0 auto; 
    word-wrap:break-word; 
    text-wrap:normal;
}

body
{
    background: #000000;
    color: #FFCC00;
    font-size: 18px;
    text-align: left;
}

.textoForte
{
    color: #EC0006;
    font-weight: bold;
    font-size: 24px;
    face: "Georgia, Times New Roman, Times, serif";
}

.body
{
    background: #000000;
    color: #FFCC00;
    font-size: 18px;
    text-align: left;
}

.corDaBorda
{
     border-color:#232323;
}

.tableContainer
{
    display: table;
}

.tableRow
{
    display: table-row;
}

.tableColumn
{
    display: table-cell;
}

a
{
    color: #FFFFFF;
    text-decoration: none;
}

a:link
{
    color: #FFFFFF;
    text-decoration: none;
}

a:visited
{
    color: #FFFFFF;
    text-decoration: none;
}

a:active
{
    color: #FFFFFF;
    text-decoration: none;
}

a:hover
{
    color: #FFFFFF;
    text-decoration: underline;
}