pre
{
    font-family: Verdana, Tahoma;
    color: #00CCFF;
    font-size: 16px;
}

body
{
    background: #000000;
    color: #FFCC00;
    font-size: 18px;
    text-align: left;
}

a
{
    color: #FFFFFF;
    text-decoration: none;
}

a:link
{
    color: #FFFFFF;
    text-decoration: none;
}

a:visited
{
    color: #FFFFFF;
    text-decoration: none;
}

a:active
{
    color: #FFFFFF;
    text-decoration: none;
}

a:hover
{
    color: #FFFFFF;
    text-decoration: underline;
}

.ImportanLink
{
    color: #FF0000;
    text-decoration: underline;
}